@media (prefers-color-scheme: light) {
  :root {
    --bg: #f9f9f9;
    --surface: #ffffff;
    --surface2: #f0f0f0;
    --border: #d5d5d5;
    --text: #333333;
    --text-hi: #111111;
    --text-lo: #888888;
  }
}
